/* all app scss styles here */

$anmar-azzurro: #2990C2;
$anmar-darkblue: #16516E;
$anmar-lightblue: #237EAA;
$anmar-gray: #EDEDED;

$OpenSans: 'Open Sans', sans-serif; /* 400 e 700 */
$Roboto: 'Roboto Slab', serif;  /* 400 e 300 */
$titoli: $Roboto;


body {
	font: 100% $OpenSans;
  	color: #666;
}
a {
	text-decoration: none;
	color: $anmar-lightblue;	
	font-weight: bold;
}
a:hover{
	color: #000;
	text-decoration: underline;
}

.columns {
	font-size: .8em;
	font-weight:300;
	line-height: 1.45em;	
}

/* per masonry */
.articolo { 
	/*width: 34%;  settato via js */
	margin-bottom: 7px;
	border-bottom: 1px solid #CCC;
	padding-bottom: 8px;
}
div.articolo .titolo {
	border: none;
}

/*   */

.columns img {
	display: block;
	margin-top: 10px;
}

div#testata {
	height: 180px;
	background-color: $anmar-gray;
	overflow: hidden;
}

.pagina .row {
	margin-top: 20px;	
}

.titolo {
	border-top: 1px solid #CCC;
	font-family: $titoli;
	letter-spacing: -.5px;
	font-weight: 400;
	display: block;
	padding-top: 8px;
	margin-bottom: 20px;
	margin-top: 10px;
	line-height: 1.2em;
}

.row:first-child .titolo {
	border-top: 0px solid #CCC;
}

.mini {
	font-size: 16px;
}
.piccolo {
	font-size: 18px;
}
.medio {
	font-size: 20px;
}
.grande {
	font-size: 22px;
}
.maxi {
	font-size: 36px;
}	

.data_small {
	margin: 0px;
	font-weight: 700;
	color: #000;
	font-size: 12px;
}

div#footer {
	margin-top: 30px;
	background-color: $anmar-gray;	
	padding-bottom: 50px;
}


@import "hp-pulsantiera";
@import "hp-banners";
@import "mobile";